name: Continuous Integration

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        kernel:
        - 4.4.260
        - 4.9.260
        - 4.14.224
        - 4.19.179
        - 5.4.104
        - 5.10.22
        - 5.11.6
    name: "Linux ${{ matrix.kernel }}"
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install dependencies
      run: sudo apt-get install libelf-dev
    - name: Download kernel sources
      run: curl https://cdn.kernel.org/pub/linux/kernel/$(echo ${{ matrix.kernel }} | sed -E 's/([^.]+)[.].*/v\1.x/')/linux-${{ matrix.kernel }}.tar.xz | tar xJ
    - name: Configure kernel sources
      run: |
        cp /boot/config-$(uname -r) linux-${{ matrix.kernel }}/.config
        yes "" | make -C linux-${{ matrix.kernel }} oldconfig
        make -C linux-${{ matrix.kernel }} modules_prepare
    - name: Build
      run: |
        make KSRC=linux-${{ matrix.kernel }}
